@page
@model RazorPagesApp.Pages_Turma.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h5 style="color: red;">Tem certeza de que deseja inativar essa Turma?</h5>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TurmaModel.Turma)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TurmaModel.Turma)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TurmaModel.Ano)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TurmaModel.Ano)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="TurmaModel.Id" />
        <input type="submit" value="Inativar" class="btn btn-danger" /> |
        <a asp-page="./Index">Voltar a lista</a>
    </form>
</div>
